@import "../../styles/styles.scss";

.teachers {
	&__container {
		max-width: 133rem;
		padding: 0 1.5rem;
		margin: 0 auto;
	}

	.slider-container {
		max-width: 133rem;
		padding: 0 1.5rem;
		margin: 0 auto;
		overflow: hidden;

		@include laptop-xxl {
			max-width: none;
			padding: 0;
		}
	}

	&__title {
		font-family: "NextArt-Bold", sans-serif;
		font-size: 4.8rem;
		margin-bottom: 5.8rem;
		color: #414141;

		@include laptop {
			text-align: center;
		}

		@include tablet {
			font-size: 4rem;
			margin-bottom: 3rem;
			text-align: center;
		}

		@include phones {
			font-size: 3rem;
			text-align: center;
		}
	}

	&__img-wrapper {
		padding: 0 1.5rem;
		max-width: 145rem;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;

		@include laptop-xl {
			flex-wrap: wrap;
			justify-content: space-evenly;
		}
	}

	&__img {
		width: 25rem !important;
		height: 33rem !important;
		overflow: hidden;

		@include laptop-xl {
			margin: 0 1rem 2rem 0;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all 0.2s ease;
		}

		&:hover img {
			transform: scale(1.1);
		}
	}

	&__info-wrapper {
		padding: 0 3.5rem;
		margin: 3.8rem 0 14rem 0;
		@include between-center;
		@include laptop-xl {
			flex-direction: column;
			margin: 3rem 0;
		}

		h1 {
			font-size: 3.2rem;
			color: #414141;

			@include phones {
				font-size: 3rem;
				text-align: center;
			}
		}

		p.teachers__info-p {
			font-size: 2.4rem;
			color: #414141;
			margin-top: 3.9rem;
			line-height: 3.3rem;

			@include phones {
				font-size: 1.6rem;
				margin-top: 2rem;
				text-align: center;
			}
		}
	}

	&__info-left {
		width: 70%;

		@include laptop-xl {
			width: 100%;
		}
	}

	&__info-right {
		width: 25%;
		padding: 2.9rem 2.1rem;
		background-color: $reddishBrown;

		@include laptop-xl {
			width: 100%;
			margin-top: 2rem;
		}

		p {
			font-size: 2.6rem;
			color: $white;
			font-family: "NextArt-Bold", sans-serif;

			@include phones {
				font-size: 1.7rem;
				line-height: 3rem;
				font-family: "NextArt-semibold", sans-serif;
				text-align: center;
			}
		}
	}

	.slick-arrow {
		width: 5rem;
		height: 5rem;
		color: $blue !important;
	}

	.slick-prev {
		left: 2.5rem;
		z-index: 4;
	}

	.slick-next {
		right: 2.5rem;
	}
}
