.formWrap {
  margin: 1rem;
  padding: 2rem;
  border-radius: 5px;
  background-color: #191c24;
}

.uploadWrapper {
  [class="deleteImage"] {
    display: none;
  }
}

// .courceFormWrap {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   gap: 1rem;
// }
