@import "../../../styles/styles.scss";

.app {
  &__side-container {
    position: fixed;
    display: none;
    right: -40rem;
    z-index: 100000;
    top: 0;
    background-color: $white;
    padding: 4rem;
    bottom: 0;
    width: 40rem;
    height: 100vh;
    overflow: auto;
    box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;

    @include phones {
      width: 100%;
      right: -100%;
    }

    @include tablet {
      display: block;
    }
  }

  &__side-active {
    right: 0;
  }

  &__close-icons {
    font-size: 6rem;
    cursor: pointer;
  }

  &__drop-title {
    font-size: 1.8rem;
    color: black;
  }

  &__link {
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color: black;
    min-height: 4.8rem;
    // display: flex;
    // align-items: center;
  }

  &__expand-icon {
    display: block;
    font-size: 1.8rem;
  }

  &__drop-links {
    display: block;
    margin-bottom: 2rem;
    color: black;
    font-size: 1.5rem;
  }
}
